<div class="container">
  <div class="row">
    <div class="col-8 border border-danger" id="principal">
      <img
        src="https://www.clarin.com/img/2020/07/02/el-duty-free-de-ezeiza___1bGM5B4hK_1256x620__1.jpg"
        width="100%"
        alt=""
        class="m-1"
      />
      <div class="row">
        <div class="col">
          <h1>Más restricciones</h1>
          <h2>
            Cepo al turismo: el Central prohíbe a los bancos financiar las
            compras en el free shop
          </h2>
        </div>
        <div class="col">
          <img
            src="https://media.diariopopular.com.ar/p/1e9d89c42a6a19ff0eed615386efd501/adjuntos/143/imagenes/008/025/0008025035/1140x0/smart/descarga-2022-07-07t173108429-1jpg.jpg"
            alt=""
            width="100%"
            class="border border-2 border-dark"
          />
          <h3>Se destrabó lo de Miguel Borja y llegará el fin de semana</h3>
        </div>
      </div>
    </div>
    <div class="col-4 border border-danger" id="secundario">
      <p class="text-left" style="color: red">SE ESTÁ LEYENDO AHORA</p>
      <div class="shadow p-1 mb-5 rounded">
        <img
          src="https://media.diariopopular.com.ar/p/b8b332bc6c3d42b9f90ec4a07f30540b/adjuntos/143/imagenes/008/024/0008024982/1140x0/smart/riquelme-telefonojpg.jpg"
          alt=""
          width="100%"
        />
        <br>
        <br>
        <img
          src="https://media.diariopopular.com.ar/p/54117a58409699d3b9f1bf81b39f4546/adjuntos/143/imagenes/008/024/0008024978/1140x0/smart/memes-river_w416-3jpeg.jpeg"
          alt=""
          width="100%"
        />
      </div>
    </div>
  </div>
</div>
